{:deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           tea-time/tea-time   {:mvn/version "1.0.1"}}

 :paths   ["src"]

 :aliases {:test   {:extra-paths ["test"]
                    :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                             :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                    :main-opts   ["--report stderr"
                                  "-m" "cognitect.test-runner"]}

           :jar    {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                  :sha     "0e8731e0f24db05b74769e219051b0e92b50624a"}}
                    :main-opts  ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "target/cup.jar"]}

           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.3"}}
                    :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy"
                                 "target/cup.jar" "true"]}}}
